/* Common elements
--------------------------------------------------- */

body {
  background: #ffe;
  color: #333;
  font-family: 'Open sans', Arial, Helvetica, sans-serif;
  margin: 0 20px 50px 285px;
  max-width: 800px;
}

a {
  color: #09f;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Open sans condensed', 'Arial narrow', Arial, Helvetica, sans-serif;
  color: #000;
}

pre, code, kbd, samp {
  font: 0.9em 'Menlo', 'Consolas', 'Bitstream Vera Sans mono', monospace;
}

pre, code {
  background: #fff;
  padding: 2px 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

pre {
  padding: 10px 15px;
  white-space: pre;
  overflow-x: auto;
}

pre code {
  background: none;
  border: 0;
  padding: 0;
}


/* Layout
---------------------------------------------------- */

#sidebar {
  background: #fff;
  background: rgba(255, 255, 255, .4);
  position: fixed;
  padding: 15px;
  width: 220px;
  left: 0;
  top: 0;
  bottom: 0;
  box-shadow: 3px 0 5px rgba(160, 160, 128, .2);
}

#sidebar ul {
  margin: 10px 0 0;
  padding: 0;
  list-style: none;
}
#sidebar li {
  font: 22px 'Open sans condensed', Arial Narrow, Arial, Helvetica, sans-serif;
  margin: 0;
  border-bottom: 1px solid #ccc;
}
#sidebar a {
  display:block;
  padding: 4px 10px;
  text-decoration: none;
  color: #000;
}
#sidebar .current {
  font-weight: bold;
}
