body {
  background: #ffe;
  font-family: 'Open sans', Arial, Helvetica, sans-serif;
  margin-left: 285px;
  max-width: 800px;
}

#sidebar {
  position: fixed;
  padding: 15px;
  width: 220px;
  left: 0;
  top: 0;
  bottom: 0;
  box-shadow: 3px 0 5px rgba(160, 160, 128, .2);
}

