body {
  background: $bg;
  color: $text;
  margin: 0 20px 0 285px;
  font-size: 14px;
  line-height: 1.4;
}

.wrapper {
  width: 94%;
  max-width: 1200px;
  padding: 35px 0;
  margin: 0 auto;
}

.page-content {
  padding-bottom: 120px;
}
