.site-header {
  background: $dark;
  position: fixed;
  padding: 15px;
  width: 220px;
  left: 0;
  top: 0;
  bottom: 0;
}

.site-nav ul {
  margin: 10px 0 0;
  padding: 0;
  list-style: none;
}
.site-nav li {
  font-size: 22px;
  margin: 0;
  border-bottom: 1px solid #333;
}

.site-nav a {
  display:block;
  padding: 6px 10px;
  text-decoration: none;
  color: #ccc;
}
.site-nav .current {
  color: #fff;
  font-weight: bold;
}
