body {
  font-family: 'Roboto', Arial, sans-serif;
  color: $text;
  font-size: 15px;
  line-height: 1.4;
}


h1, h2, h3, h4, h5, h6 {
  color: $dark;
}

h1 {
  font-size: 32px;
}

h2 {
  font-size: 22px;
  padding-bottom: 3px;
  margin: 1em 0 1ex;
  border-bottom: 1px solid $border;
}

h3 {
  font-size: 18px;
}

p {
  margin:1em 0;
}

a {
  color: $link;
}

pre {
  padding: 10px 15px;
  white-space: pre;
  overflow-x: auto;
}

code {
  padding: 1px 5px;
  background: #FFF;
}
